@model IEnumerable<EMarketingApp.Models.tbl_product>
@{
    ViewBag.Title = "Products By Category";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<style>
    .cimg {
        -webkit-transform 5s;
        transition: transform 5s;
    }

        .cimg:hover {
            -webkit-transform: rotatez(360deg);
        }
</style>

<main id="main" class="main">
    <div class="pagetitle">
        <h1>Products By Category</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index","User")">Home</a></li>
                <li class="breadcrumb-item"><a href="@Url.Action("Categories","User")">Categories</a></li>
                <li class="breadcrumb-item active">Products By Category: @Model.Select(p => p.tbl_category).First().cat_name</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <div class="row" style="margin-bottom:40px">
        <div class="col-lg-8 col-md-8">
            <div class="row">
                @{int x = 0;}
                @if (Model.Any())
                {
                    foreach (var item in Model)
                    {
                        x++;
                        <div class="col-lg-4 col-md-4 mb-5" style="height:200px;margin-top:100px">

                            <img class="img img-responsive cimg" src="@Url.Content(item.pro_image)" style=" height:100%;width:100% ;border-radius:50px 50px 50px 50px" />
                            <h4 style="color:#808080; font-family:'Arial Rounded MT';text-align:center" class="m-5"> @Html.ActionLink(@item.pro_name, "Details", new { productId = @item.pro_id })</h4>

                        </div>

                    }
                }

                <h4 class="mt-5">@x Results found</h4>
            </div>
        </div>

    </div>

</main>

