@model List<EMarketingApp.Models.tbl_product>
@{
    ViewBag.Title = "All Products";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    int srno = 0;
}

<main id="main" class="main">
    <div class="pagetitle">
        <h1>All Products</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index", "User")">Home</a></li>
                <li class="breadcrumb-item active">All Products</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <p>
        @Html.ActionLink("Add Product", "AddProduct", "User", null, new { @class = "btn btn-success text-decoration-none" })
    </p>
    <table class="table text-center">
        <tr>
            <th>Sr. No.</th>
            <th>
                Product Name
            </th>
            <th>
                Product Category
            </th>
            <th>
                Created On
            </th>
            <th>
                Updated On
            </th>
            <th>
                Added/Updated By
            </th>
            <th>
                <div>
                    <p style="color:red">@ViewBag.error</p>
                </div>
            </th>
        </tr>

        @if (Model.Any())
        {
            for (int i = 0; i < (int)Model.Count(); i++)
            {
                srno = srno + 1;
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => srno)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model[i].pro_name)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => Model[i].tbl_category.cat_name)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => Model[i].pro_created)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model[i].pro_updated)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model[i].tbl_user.u_name)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "EditProduct", "User", new { productId = Model[i].pro_id }, new { @class = "btn btn-primary" }) |
                        @Html.ActionLink("Details", "ProductDetails", new { productId = Model[i].pro_id }, new { @class = "btn btn-secondary" }) |

                        @Html.ActionLink("Delete", "DeleteProduct", new { productId = Model[i].pro_id }, new { @class = "btn btn-danger" })
                    </td>
                </tr>
            }

        }
    </table>
</main>

